@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog {
  --animation-duration: 0.2s;

  transition:
    display var(--animation-duration) allow-discrete,
    overlay var(--animation-duration) allow-discrete;
  animation: close var(--animation-duration) forwards;

  &[open] {
    animation: open var(--animation-duration) forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
